{% extends 'base/base.html' %}
{% block title %} <title>ToDo App</title> {% endblock %}
{% block nav-links %}<a href="{% url 'birthday:index' %}">Is it my birthday?</a>{% endblock %}
{% block content %}
    <h2>My 
        <span style="color: springgreen;">TO</span><span style="color: lightpink;">DO</span> 
        List
    </h2>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% empty %}
            <li>NO TASKS</li>
        {% endfor %}
    </ul>
    <a class="add" href="{% url 'todo:add' %}">Add Task</a>
{% endblock %}